body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 50px;
}


h1{
    margin-top: 100px;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(255, 253, 253);
    color: #000000;
    background-color: #f7d309;
    justify-self: center;
    border-radius: 6px;
    padding: 8px 12px;
    min-width: 800px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #f7d309;
    justify-self: center;
    border-radius: 6px;
    padding: 12px;
    min-width: 800px;
}

li{ 
    align-items: center; 
    padding: 12px 0; 
    border-bottom: 1px solid #FFFFFF; 
    font-size: 24px;
    font-weight: bold;
}

a{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    border-radius: 6px;
    padding: 8px 16px;
}

a:hover {
    color: #FFFFFF;
    transition-duration: 0.5s;
}

@media (max-width: 1024px) {
    h1 {
        margin-top: 20px;
        font-size: 24px;
        min-width: 400px;
    }

    .container {
        margin-top: 10px;
        min-width: 400px;
    }
    

}

@media (max-width: 480px) {
    h1{
        margin-top: 10px;
        font-size: 18px;
        min-width: 300px;
    }

    .container {
        margin-top: 5px;
        min-width: 350px;
        padding: 8px;
    }
    
    li{
        font-size: 16px;
        text-align: center;
    }
    a {
        font-size: 16px;
    }
}